::placeholder { color: #ba9dd2; }
.header-top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B891D7;
    width: 100%;
    height: 67.27px;
    z-index: 100;
}
.header-bottom{
    position: fixed;
    background-color: #9B78C8;
    width: 100%;
    height: 28.83px;
    z-index: 100;
    top: 67.27px;
}
.header-logo{
    position: relative;
    width: 52.05px;
    z-index: 100;
}
.header-title{
    position: relative;
    left: 9%;
    width: 20%;
    color: white;
    margin-left: -7px;
    z-index: 100;
    font-weight: 400;
    font-size: 30px;
    font-family: system-ui;
}
.header-business{
    display: flex;
    align-items: center;
    margin-right: 300px;
}
.header-business::before{
    content: '';
    position: relative;
    margin-right: -17.7px;
    margin-top: -8px;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 1.5px;
    animation: logo-gem 10s infinite linear;
}
.header-bell{
    position: relative;
    margin-right: 40px;
    width: 27px;
    z-index: 100;
}
.header-search{
    position: relative;
    align-items: center;
    padding-left: 15px;
    width: 355px;
    height: 31px;
    background-color: #AB6EDC;
    border: 0;
    outline: none;
    color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 100;
}
.header-button{
    width: 50px;
    height: 33px;
    border: 0;
    outline: none;
    background-color: #994ed6cf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.header-button-img{
    height: 21px;
    margin-top: 3px;
}
.header-new-post{
    margin-left: 14px;
    background-color: #9F52DD;
    border-radius: 50px;
    width: 33px;
    height: 33px;
    display: flex;
}
.header-text-np{
    position: relative;
    font-size: 19px;
    font-weight: bold;
    color: #B891D7;
    margin-left: 30.36%;
    margin-top: 1.1px;
}
.header-lang{
    width: 23px;
    margin-left: 20%;
}
.header-lang::before{
    content: '';
    position: absolute;
    width: 7px;
    margin-left: 30px;
    margin-top: 7px;
    height: 7px;
    border-bottom: 3px solid #9F52DD;
    border-right: 3px solid #9F52DD;
    background-color: #B891D7;
    transform: rotate(45deg);
}
.header-lang-img{
    width: 22px;
}
.header-options{
    position: relative;
    width: 30px;
    margin-left: 7%;
    margin-right: 3%;
}

.sub{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 21px;
    padding-left: 10%;
    padding-right: 10%;
}
.sub::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    border-left:1px solid rgb(182, 181, 181);
    top: 5px;
    margin-left:-150px;


}

.cuenta{
    margin-top:200px;
    margin-left: 200px;
}
@keyframes logo-gem {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
  }
