.header-top{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B891D7;
    width: 100%;
    height: 67.27px;
    z-index: 100;
}
.header-bottom{
    position: fixed;
    background-color: #9B78C8;
    width: 100%;
    height: 28.83px;
    z-index: 100;
    top: 67.27px;
}
.header-logo{
    position: relative;
    width: 52.05px;
    z-index: 100;
}
.header-title{
    position: relative;
    left: 9%;
    width: 20%;
    color: white;
    margin-left: -7px;
    z-index: 100;
    font-weight: 400;
    font-size: 30px;
    font-family: system-ui;
}
.header-business{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.header-business::before{
    content: '';
    position: relative;
    margin-right: -17.7px;
    margin-top: -8px;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 1.5px;
    animation: logo-gem 10s infinite linear;
}
.header-bell{
    position: relative;
    left: 5%;
    width: 30px;
    color: white;
    z-index: 100;
    font-weight: 400;
    font-size: 30px;
    font-family: system-ui;
}
.header-search{
    position: relative;
    align-items: center;
    width: 534px;
    color: white;
    z-index: 100;
}
@keyframes logo-gem {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
  }