.profile1{
 margin-left:20%;
}

.fotoprofile{
 width: 95px;
 margin-top: 8%;
 border-radius:50%;
 border:4px solid #9B78C8;
}

.Username{
font-size: 25px;
margin-top:-10px;
margin-left:46.4%;
}

.level{
margin-left: 10%;
}